# Python'da Sayılar ve Dahası

Bu konuda Python'da sayıları ve bunları nasıl kullanacağımızı göreceğiz.

Şu konuları göreceğiz:

    1.) Python'da sayı tipleri
    2.) Temel Aritmetik İşlemler
    3.) Klasik Bölme ve Taban Bölme Arasındaki Farklar
    4.) Python'da Nesne Atama

## Sayı Tipleri

Python'da birçok sayı tipi vardır. Biz tam sayılar (integer) ve ondalık sayılara (float) odaklanacağız.

Tam sayılar pozitif ve negatif değerlerde olabilir. 2 ve -2 tam sayılara örnektir.

Ondalık sayılar da önemlidir. Tam sayılarda olduğu gibi pozitif ve negatif olabilirler. Basit olarak virgüllü sayıları gösterebildikleri gibi üstel ifadeleri de gösterebilir. 2.0, -2.4 ondalık sayılara örnektir. Ayrıca 4E3 (4 çarpı 10 üzer 3) de bir ondalık sayı örneğidir.

Şimdi temel birkaç aritmetik işlemle başlayalım.

### Temel Aritmetik İşlemler

In [2]:
# Toplama
2 + 6

8

In [2]:
# Çıkarma
2 - 1

1

In [4]:
# Çarpma
2 * 2.3

4.6

In [4]:
# Bölme
3 / 2

1.5

In [6]:
# Taban Bölme
-7 // 4

-2

**Allah Allah! Ben yanlış mı görüyorum, 7 bölü 4 1.75 olması gerekmiyor mu? 1 nereden çıktı?**

Bu sonucu almamızın sebebi "*taban*" bölme kullanmamız. **//** operatorü ondalıklı sayıları bir alttaki tam sayıya yuvarlar ve o sonucu döner.

**Bölümden sonra kalanı nasıl bulacağız peki?**

In [6]:
# Modülo
7 % 4

3

7'nin içinde 4 bir tane var, geriye 3 kalır. **%** operatörü bölüm sonrasında kalan sayıyı döner.

In [11]:
# Kuvvet
2 ** 1000000

301030

In [12]:
# Karekök de alır mı, alır!
4 ** 1/2

2.0

In [9]:
# İşlem önceliği Python'da da söz konusu
2 + 10 * 10 + 3

105

In [10]:
# İşlem önceliğini parantezlerle değiştirebiliyoruz
(2+10) * (10+3)

156

## Değişken Atama

Sayıları nasıl kullanacağımızı öğrendiğimize göre, elde ettiğimiz değerlere isim atamayı ve değişkenler oluşturmayı görelim.

Değişkenlere isim atamak için tek eşittir **=** işaretini kullanıyoruz:

In [11]:
# a adında bir nesne yaratıp, o nesneye 5 değerini atayalım
a = 5

Now if I call *a* in my Python script, Python will treat it as the number 5.

In [12]:
# Nesneleri toplama
a+a

10

What happens on reassignment? Will Python let us write it over?

In [13]:
# Tekrar atama
a = 10

In [14]:
# Kontrol
a

10

Şimdi, Python bize daha önceden atanmış değişken adlarını tekrar atama imkanını veriyor. Hatta tekrar atama esnasında değişkenin kendisi de kullanılabilir. Örneğin:

In [15]:
# Kontrol edelim
a

10

In [16]:
# a yı tekrar atarken, yine a'yı kullanalım, hem de iki defa
a = a + a

In [17]:
# Kontrol edelim 
a

20

Değişken adlarını verirken, dikkat etmemiz gereken birkaç kural var:

    1. Değişken adları rakamla başlayamaz.
    2. Değişken adları boşluk içeremez, bunun yerine _ kullanabilirsiniz.
    3. Bu sembolleri de kullanamayız :'",<>/?|\()!@#$%^&*~-+
    4. Küçük harflerin kullanılması tavsiye edilir (PEP8)
    5. Küçük 'l' (Lüleburgaz'ın le'si), büyük 'O' (Ordu'nun o'su) ve büyük 'I' (Iğdır'ın ı'sı) harflerini tek harflik değişken adı verirken kullanımından kaçınılmalıdır.
    6. Python içinde özel anlamı olan kelimelerin değişken ismi olarak kullanılmasında kaçınılmalıdır. Örneğin "list", "str" vb.


Anlamlı değişken adlarının kullanılması birçok konuda faydalı olacaktır. Görelim:

In [18]:
# Nesne adlarının anlamlı olması kod'da ne olup bittiğini anlamak için çok faydalı olacaktır.
gelir = 100

vergi_orani = 0.1

vergi_miktari = gelir * vergi_orani

In [19]:
# Vergi miktarını görelim!
vergi_miktari

10.0

Peki burada ne öğrendik? Pythonda sayılarla ilgili temelleri öğrendik. Temel aritmatik işlemleri yapmayı öğrendik, Python'u hesap makinası olarak kullanabilecek duruma geldik. Ardından değişken atamalarıyla öğrendiklerimiz toparladık.

Belki biraz tekrar olacak ama sırada değişken atamalar var.